name: ci

on:
  push:
    branches:
      - master
  schedule:
    - cron: "*/10 * * * *"

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Auto green
        run: |
          git config --local user.email "icryblade@gmail.com"
          git config --local user.name "icryblade"
          git pull --rebase
          git commit --allow-empty -m "Make Program Every Day!"
          git push
